{% extends 'base.html' %}
<!--tells jinja that this template should replace the blocks from base.html-->
<!--rendered content must appear inside the block-->

{% block header %}
    <h1>{% block title %} Designer details {% endblock %}</h1>
    <!--block title inside block header = set title block and then output its value into header block-->
    <!--both window and page share the same title without writing it twice-->
{% endblock %}

{% block content %}
    <form method="post">
        <label for="companyName">Company Name: </label>
        <input name="companyName" id="companyName" required>
        <label for="companyLine">Company Phone No.: </label>
        <input id="companyLine" name="companyLine"  required>
        <label for="companyDescription">Short description of company: </label>
        <input name="companyDescription" id="companyDescription" required>
        <label for="companyEmail">Company Email: </label>
        <input name="companyEmail" id="companyEmail" required>
        <input type="submit" value="register">
    </form>
{% endblock %}